# Ignore Solidity files
#*.sol

# Ignore contract ABI and bytecode files
abi.json
bytecode.bin
deployed_bytecodes/
metadata/

# Ignore compiler output (e.g. solidity-coverage)
solidity-coverage/
yul.js

# Ignore other IDE-specific files
.idea/
vscode-js-debug/.debuggingData.json

.states
*.json
tests/artifacts
.deps